
<div class="container">
<form #NewPerson="ngForm">
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> name</label><input name="name"
      [(ngModel)]="person.name" type="text" class="form-control" id="exampleInputEmail1"
      aria-describedby="emailHelp" />

  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">age</label><input name="age"
      [(ngModel)]="person.age" type="number" class="form-control" id="exampleInputPassword1" />
  </div>

  
  
  <select   class="form-control" name="selectadd" [(ngModel)]="person.addressId"   aria-label="Default select example" >

    <option selected>Select City</option>
    <option *ngFor="let address of AllAddress" [value]="address.id">   {{address.city}}  </option>
    
  </select>

  <br>

  <select  class="form-control" name="PersonAddress2" [(ngModel)]="person.addressId">

    <option *ngFor="let address of AllAddress" [value]="address.id">  {{address.country}}  </option>

  </select>

</form>


<div class="modal-footer">

  <button type="button" data-bs-dismiss="modal" (click)="AddNewPerson(person)" class="btn btn-primary">Add</button>
</div>

</div>